body {
    max-width: 128rem;
    margin: 0 auto;
}

$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;

$color-light-s: #fafafa;
$color-light-l: #f6f6f6;
$color-light-xl: #ffffff;

$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

@mixin h2 {
    font: {
        family: Georgia;
        size: 4.4rem;
        width: 400;
        height: 130%;
    }
}



@mixin h3 {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 3.5rem;
    }
    line-height: 130%;
    letter-spacing: 0.06rem;
}

@mixin h4 {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 2rem;
    }
    line-height: 115%;
    letter-spacing: 0.06rem;
}

@mixin h5 {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 1.5rem;
    }
    line-height: 110%;
    letter-spacing: 0.06rem;
}

@mixin paragraph-l {
    font: {
        family: Arial;
        style: normal;
        weight: normal;
        size: 1.5rem;
    }
    line-height: 160%;
}

@mixin paragraph-s {
    font: {
        family: Arial;
        style: italic;
        weight: normal;
        size: 1.2rem;
    }
    line-height: 150%;
}

@mixin logo_title {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 3.2rem;
    }
    line-height: 110%;
    letter-spacing: 0.06rem;

}

@mixin logo_subtitle {
    font: {
        family: Arial;
        style: normal;
        weight: normal;
        size: 1.3rem;
    }
    letter-spacing: 0.01rem;

}

@mixin larget-text {
    font: {
        family: Arial;
        size: 20px;
        width: bold;
    }
}

:root {
    font-size: 10px;
}
