.ourFriends {
    padding: 8rem 4rem 10rem;
    margin: 0 auto;
    max-width: 120rem;
    background: $color-light-l;
    
}
.slider-container {
    display: flex;
    flex-wrap: wrap;

}

.ourFriends-title {
    color: $color-dark-l;
    font-size: 3.5rem;
    line-height: 130%;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    width: 40rem;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 6rem;
}

.ourFriends-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 6rem;
}

.slider-left,
.slider-right {
    border: none;
    background: transparent;
    padding: 0;
}

.slider-button {
    padding: 1.35rem 1.85rem;
    border-radius: 50%;
    border: 2px solid $color-primary;
}

.slider-button-more {
    padding: 1.35rem 1.15rem;
    border-radius: 50%;
    border: 2px solid $color-primary;
}

.slider-container {
    display: flex;
    justify-content: space-between;
    width: 120rem;
}

.slider-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    width: 27rem;
}

.slider-item:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.slider-name {
    color: $color-dark-l;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.3rem;
}

.slider-more {
    color: $color-dark-3xl;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 130%;
    padding: 1.5rem 4.5rem;
    border: 2px solid $color-primary;
    border-radius: 10rem;
    text-decoration: none;
}

.slider-more:hover {
    background: $color-primary-light;
    border: 2px solid $color-primary-light;
}

.arrow-left {
    transform: rotate(180deg);
}

.ourFriends-more {
    color: $color-dark-3xl;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    padding: 1.5rem 4.5rem;
    background: $color-primary;
    border-radius: 10rem;
    border: none;
    margin: 0 auto;
    display: block;
}

.slider-buttons {
    margin: 0 auto;
    width: 34rem;
    display: flex;
    justify-content: space-between;
}

.slider-number {
    display: block;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 115%;
    color: $color-dark-3xl;
    padding: 1.45rem 2.17rem;
    background: $color-primary;
    border-radius: 50%;
    height: 2.3rem;
}

.slider-left:disabled .slider-button,
.slider-left:disabled .slider-button-more{
    border: 2px solid $color-dark-s;
}

.slider-left:disabled svg path {
    fill: $color-dark-s !important;
}

.slider-right:hover .slider-button,
.slider-right:hover .slider-button-more {
    background: $color-primary-light;
    border: 2px solid $color-primary-light;
}

@media screen and (max-width: 630px){
    .ourFriends {
        padding: 8rem 1rem 10rem;
    }

    .ourFriends-title {
        font-size: 2.5rem;
        width: 30rem;
        padding-bottom: 4.2rem;
    }

    .slider-buttons {
        width: 30rem;
    }
}